@import '../../color.module.less';

.canvasWrap {
  position: relative;
  border-radius: 8px;
  .videoIcon {
    color: @textColor;
  }
  .loadingVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @textColor;
  }
  .splitAction {
    border: 1px solid transparent;
    &.actionActive {
      border: 1px solid @activeBorderColor;
    }

    .thumbnail {
      width: 100%;
    }
  }
}
