@import '../../color.module.less';

.canvasWrap {
  position: relative;
  border-radius: 8px;
  .videoIcon {
    color: @textColor;
  }
  .loadingVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: @textColor;
  }
  .splitAction {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
    &.actionActive {
      border: 1px solid @activeBorderColor;
    }

    .thumbnail {
      display: inline-block;
      width: 50px;
      height: 100%;
      background-size: cover;
    }
  }
}
