@import '../../../color.module.less';

// 渐变样式
.linearGradientButton {
  > span {
    position: relative;
  }
  &::before {
    content: '';
    background: linear-gradient(135deg, #6253e1, #04befe);
    position: absolute;
    inset: -1px;
    opacity: 1;
    transition: all 0.3s;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0;
  }
}

.formContent {
  padding: 24px;
  height: calc(100vh - 144px);
  overflow-x: hidden;
  overflow-y: auto;
  color: @textColor;

  .imageSelect {
    background: @inputAreaColor;
    border-radius: 8px;
  }

  .customButton {
    width: 100%;
    height: 100%;
  }

  .textarea {
    color: @textColor;
    background: @inputAreaColor;
    resize: none;
    &::placeholder {
      color: @inputPlaceColor;
    }
  }
}

.formFooter {
  padding: 24px 24px 0 24px;
  width: 100%;
  border-top: 1px solid @splitColor;
  box-shadow: 0 6px 32px 0 rgba(33, 37, 51, 0.06);

  .footerButton {
    width: 100%;
  }
}
