.formPanel {
  position: relative;
  height: calc(100vh - 114px);
  padding: 24px;
  background: white;
  border-radius: 8px;
}

.linearGradientButton {
  > span {
    position: relative;
  }
  &::before {
    content: '';
    background: linear-gradient(135deg, #6253e1, #04befe);
    position: absolute;
    inset: -1px;
    opacity: 1;
    transition: all 0.3s;
    border-radius: inherit;
  }

  &:hover::before {
    opacity: 0;
  }
}

.formContent {
  padding-bottom: 24px;
  height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
}

.formFooter {
  padding-top: 24px;
  width: 100%;
  border-top: 1px solid #dde2f0;
  box-shadow: 0 6px 32px 0 rgba(33, 37, 51, 0.06);

  .footerButton {
    width: 100%;
  }
}
